.command-bar {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 10px;
    right: 10px;
}

.command-bar-item {
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.15s linear;
    cursor: pointer;
    font-size: 36px;
}

.command-bar-item:hover {
    color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.4));
}
